.MuiPopover-root .MuiButtonBase-root.MuiIconButton-root.MuiPickersCalendarHeader-iconButton {
    background-color: $grey;
}

.MuiSnackbarContent-root {
  background-color: green;
  color: aliceblue;
}